<ion-header>
  <ion-toolbar>
    <ion-title>
      Biblioteca de pokemones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let nombre of arrayPokemon; let num=index" >
      <ion-card-header >
        <ion-card-subtitle>Pokemon {{num+1}}</ion-card-subtitle>
        <ion-card-title>{{nombre.name}}</ion-card-title>
        <ion-card-content >
          Pokemon  {{nombre.url}}
          <br>
          Habilidad:{{nombre.name}}
        </ion-card-content>
   
  
      </ion-card-header>
    </ion-card>
  </ion-list>

</ion-content>
